<footer>
    <hr>
    <img id="csumb-img" src="./img/csumb.png" alt="Picture of CSUMB icon"/>
    <div>CST336 Internet Programming. 2020&copy; Ryan Barrett</div>
    <br/>
    <div id="contact"></div>
    <br/>
</footer>
