<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ryan Barrett HW1</title>
    <%- include('partials/head.ejs') %>
</head>
<body>
<header>
    <h1>Logging</h1>
</header>
<hr>
<%- include('partials/nav.ejs') %>
<main>
    <img id="logging-img" src="./img/logging.png" alt="Picture of computer"/>
    <div id="text-container">
        <p id="text">
            One of the most underrated parts of software development is proper logging. When setup correctly it can save
            countless hours of developer time.
            <br><br>
            Useful logs allow teams to be alerted immediately when issues arise, and also help to show exactly where
            the problem has taken place. It also helps make clear how code is working even when there are no issues
            <br><br>
            Some developers think that debugging only using a stack trace is good enough, but this actually poses a lot
            of problems.
            <br><br>
            Stack traces are helpful and can be a component of diagnosing issues, but logs give valuable insight into
            how we got to the error in the first place.
        </p>
    </div>
    <p>
        <cite>An introduction to logging for programmers</cite> by Stefanos Vardalos.
    </p>
    <p>
        <cite>https://www.freecodecamp.org/news/you-should-have-better-logging-now-fbab2f667fac/</cite>
    </p>
</main>
<%- include('partials/footer.ejs') %>
<%- include('partials/scripts.ejs') %>
</body>
</html>
