<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ryan Barrett HW1</title>
    <%- include('partials/head.ejs') %>
</head>
<body>
<header>
    <h1>Logging</h1>
</header>
<hr>
<%- include('partials/nav.ejs') %>
<main>
    <img id="app-logging" src="./img/app-logging.jpg" alt="Picture of a computer"/>
    <div id="text-container">
        <p id="text">
            When it comes to back end software development there are tons of great logging tools to choose from.
            Java has it's own utility as well as massively popular third party logging engines like Log4j and Logback.
            <br><br>
            On the front end side things haven't progressed quite as far, but there are a growing number of options to
            choose from. Other than console.log there are powerful options like browser-bunyan (a port of a very popular
            NodeJS logger) as well as another called loglevel.
            <br><br>
            Many logging frameworks share a lot of features, but specific projects should evaluate what is most
            important
            to them in order to determine the best framework to choose.
        </p>
    </div>
    <p>
        <cite>Log Management Use Cases & The Benefits of Log Data</cite> by Jamie Morgan
    </p>
    <p>
        <cite>https://www.missioncloud.com/blog/log-management-use-cases-the-benefits-of-log-data#:~:text=Application%20Troubleshooting,installation%20and%20run%2Dtime%20errors</cite>
    </p>
</main>
<%- include('partials/footer.ejs') %>
<%- include('partials/scripts.ejs') %>
</body>
</html>
